header {
  box-shadow: var(--shadow);
  background-color: var(--color-ui-base);



  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
<<<<<<< HEAD
    padding: 1.3rem 0;
=======
    padding: 1.5rem 0;
>>>>>>> 3f5c06618ff469cb5043edf60e0c42ed5b9e0e12
  }
  .title{
    color: var(--color-text);
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
  }

  .modeSwither {
    display: flex;
    cursor: pointer;
    align-items: center;
    text-transform: capitalize;


    span {
      font-size: var(--fs-sm);
      font-weight: var(--fw-bold);
      margin-left: 0.75rem;
    }

  }
}
