header {
  box-shadow: var(--shadow);
  background-color: var(--color-ui-base);



  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
  }
  .title{
    color: var(--color-text);
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
  }

  .modeSwither {
    display: flex;
    cursor: pointer;
    align-items: center;
    text-transform: capitalize;


    span {
      font-size: var(--fs-sm);
      font-weight: var(--fw-bold);
      margin-left: 0.75rem;
    }

  }
}
